{% extends "layout.html" %}
{% block title %} Account {% endblock %}

{% block content %}



<div class="container">
    <h1>Account</h1>
    <div class="container_card">
        <div class="budget_card">
            {% for row in budget %}
            <h3>You have spent ${{sum}} of ${{row['budget']}}</h3>
            {% endfor %}
            <p>Which is {{total_spent}}% of your monthly budget!</p>
            <div class="progress">
                <div class="progress-bar bg-green" role="progressbar" style="width: {{total_spent}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{total_spent}}%</div>
            </div>
              
        </div>
    </div>
    <form action="/account" method="post">
        <h2 class="expense">Set Expenses</h2>
        <div class="container_flex">
            <div class="mb-3">
                {%if form.name.errors%}
                {{form.name(class="form-control mx-auto w-auto is-invalid", placeholder="Name of Expense")}}
                    {% for error in form.name.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                    {% else %}
                    {{form.name(class="form-control mx-auto w-auto", placeholder="Name of Expense")}}
                {% endif %}
            </div>
            <div class="mb-3">
                {%if form.expense.errors%}
                {{form.expense(class="form-control mx-auto w-auto is-invalid", placeholder="How much did you spend?")}}
                    {% for error in form.name.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                    {% else %}
                    {{form.expense(class="form-control mx-auto w-auto", placeholder="How much did you spend?")}}
                {% endif %}
            </div>
            <div class="mb-3">
                {{form.submit(class="btn btn-primary")}}
            </div>
        </div>
    </form>
    <h2 class="expense">Monthly Expenses</h2>
    <table class="table">
        <thead>
          <tr>
            
            <th scope="col">Name</th>
            <th scope="col">Total Spent</th>

          </tr>
        </thead>
        <tbody>
        {% for row in rows %}
          <tr>
            
            <td>{{row['name']}}</td>
            <td>{{row['SUM(money)']}}</td>
            <td>
                <form action="/delete" method="POST">
                    <input type="hidden" value="{{row['name']}}" name="expense_delete">
                    {{form.delete(class="btn btn-primary")}}
                </form>
            </td>
        {% endfor %} 
          </tr>
          <tr>
            
            <td class="bold">TOTAL</td>
            
            <td class="bold">{{sum}}</td>

        </tbody>
      </table>
</div>

{% endblock %}